<h2> Sign Up form</h2>

<form method="POST" action="/register">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>


<a href="/register">Sign Up</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>