<% include ../partials/header %>
            


<div class="container">
    
    <header class="jumbotron">
         <div class="container"> 
            <h1>Welcome to YelpCamp!!</h1>
            <p>We have handpicked campgrounds all around the world</p>
            <p>
            <a class="btn btn-large btn-primary" href="campground/new">Add new campground</a>
            </p>    
        </div>
    </header>
    
    
    <div class="row text-center">
        <% campgrounds.forEach(function(campgrounds){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src=" <%= campgrounds.image %>">
                        <div class="caption">
                            <h4><b><%= campgrounds.name %></b></h4>
                        </div>
                 <a class="btn btn-primary" href="/campground/<%= campgrounds._id %>"> read more </a>
                 
                </div>
            
            </div>    
            
   
              
         <% }) %> 
            
    </div>
    
</div>        

<% include ../partials/footer %>
